.app {
 padding: 20px;
 font-size: 1.5em;
}

.app-logo {
 width: 200px;
}

form {
 display: flex;
 flex-direction: column;
}

.form-field {
 flex-direction: row;
 margin-bottom: 20px;
}

label {
 display: block;
 font-weight: bold;
 width: 20px;
}

input {
 height: 40px;
 width: 300px;
 font-size: 1em;
}

.short-input {
 width: 180px;
}

.long-input {
 width: 600px;
}

.container {
 display: flex;
 margin-top: 2rem;
}

.headline1 {
 font-weight: bold;
 font-size: 1.5em;
 margin-bottom: 0.4rem;
}
.headline2 {
 font-weight: bold;
}
.description,
.headline2 {
 margin-bottom: 0.2rem;
}
.paths {
 display: flex;
 align-items: flex-end;
}

.paths input {
 height: 40px;
}

.paths .form-field {
 margin-bottom: 0;
}
.error {
 color: red;
 font-size: medium;
}

.divider {
 margin: 0 1rem 0 1rem;
 padding: 1px;
 background-color: black;
}

.slash {
 margin: 0 1rem 0 1rem;
 padding: 1px;
 transform: rotate(25deg);
 height: 40px;

 background-color: black;
}
