.app {
 padding: 20px;
 font-size: 1.5em;
}

.app-logo {
 width: 200px;
}

form {
 display: flex;
 flex-direction: column;
}

.form-field {
 flex-direction: row;
 margin-top: 20px;
}

label {
 display: block;
 font-weight: bold;
 width: 20px;
}

input {
 height: 40px;
 width: 300px;
 font-size: 1em;
}

.short-input {
 width: 180px;
}

.long-input {
 width: 600px;
}

.container {
 display: flex;
}
.container div {
 margin-right: 1rem;
}
.headline1 {
 font-weight: bold;
 font-size: 1.5em;
 margin-bottom: 0.4rem;
}
.headline2 {
 font-weight: bold;
}
.description,
.headline2 {
 margin-bottom: 0.2rem;
}
.paths {
 display: flex;
 align-items: flex-end;
}

.error {
 color: red;
 font-size: medium;
}
